* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  font-family: 'Open Sans', sans-serif;
}

.main-page {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
}

.btn {
  color: #EFDF9D;
  background-color: #1d5047;
  padding: 10px;
  margin: 5px;
  border: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 2px;
  font-size: 18px;
}

.btn:hover {
  box-shadow: black 3px 4px 1.5px;
  cursor: pointer;
}
