
.homepage-card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2.4rem;
  padding: 3rem;
}

@media (max-width: 400px) {
  .homepage-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .homepage-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .homepage-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
