.login-signup-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  flex-direction: column;
}

.login-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #216657;
  height: 80%;
  width: 80%;
  border-radius: 15px;
  border: solid #213632 4px;
  overflow: hidden;
  box-shadow: black 4px 4px 8px -2px;
  color: #213632;
}

.form-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  border-left: solid #213632 1px;
  box-shadow: -5px 0px 5px 1px rgba(0, 0, 0, 0.714);
  padding-left: 20px;
}

.image-login-container {
  height: stretch;
  overflow: hidden;
  width: 50%;
}

.image-login-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.login-card input {
    text-align: center;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80%;
}

.login-card label{
    width: 2rem;
    display: inline-block;
}

.login-title{
    text-align: center;
}

.login-title h2{
    font-size: 50px;
    color: #EFDF9D;
    font-family: 'Bellota Text', cursive;
}

.login-title h3{
    font-size: 20px;
}

.signup-container h2{
    font-size: 60px;
}

.signup-container h3{
    font-size: 20px;
}

.login-btn-field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin-left: 25%;
}

.form-signup input {
    text-align: center;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;
}

.form-signup label{
    width: 2rem;
    display: inline-block;
}


.signup-container{
    text-align: center;
}

.btn-field {
    display: flex;
    align-items: center;
    margin-left: 40%;
}


@media only screen and (max-width: 900px) {
    .form-login-container {
        width: 100%;
        padding: 10px 0 10px 30px;
      }

      .image-login-container {
        width: 0;
        transition: all 0.3s ease-out;
      }
  }



