.cards {
  background-color: #216657;
  color: rgb(58, 58, 58);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.621);
  height: 100%;
  -webkit-transition: all 0.65s ease;
  transition: all 0.65s ease;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.image-home-container {
  height: 80%;
  width: 100%;
}

.image-home-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-home-container {
  overflow:auto;
  text-align: center;
  height: 15%;
  display: flex;
  margin-top: 5px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
  color: #EFDF9D;
  font-size: 14px;
  overflow: hidden;
}

.cards:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

