
.update-container input:focus {
    outline: none;
  }
  
.update-container input {
    text-align: center;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 4px;
  }


.update-container label{
    width: 5rem;
    display: inline-block;
}

