.cards {
    background-color: rgba(255, 166, 0, 0.789);
    color: rgb(58, 58, 58);
    padding: 8px;
    height: 400px;
    -webkit-transition: all 0.65s ease;
    transition: all 0.65s ease;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .image {
    
    height: 100%;
    background-size: cover;
  }
  
  .image-container {
    height: 90%;
  }
  
  .text-container {
    text-align: center;
    height: 10%;
  }
  
  .cards:hover {
    box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    cursor: pointer;
  }